* {
  box-sizing: border-box;
}

body {
  margin: 0;
  direction: rtl;
  user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure {
  margin: 0;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
}

input,
textarea {
  outline: none;
}
