@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.container {
  background-color: $gray-100;
  width: 360px;
  padding: 24px 16px 16px 16px;
  border-radius: 8px;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1000;
  transform: translate(-50%, -50%);

  @media (max-width: 768px) {
    background-color: $bg-white;
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 451px;
    padding: 0;
    @include flex();
    border-radius: 60px;
    box-shadow: -68px 62px 176px #0000001a;
  }
}
