@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.container {
  background-color: $gray-100;
  width: $container-width;
  padding: $space-xxl $space-lg $space-md $space-lg;
  border-radius: $radius-md;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1000;
  transform: translate(-50%, -50%);

  @media (max-width: 768px) {
    background-color: $bg-white;
    width: 100%;
    height: 100%;
    max-width: $container-max-width-mobile;
    max-height: $container-max-height-mobile;
    padding: 0;
    @include flex(center, center);
    border-radius: $radius-xl;
    box-shadow: $shadow-container-mobile;
  }
}
