@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.header {
  @include flex();
  position: relative;
  margin-bottom: var(--header-margin-bottom);
  height: var(--header-height);

  &__title {
    font-size: var(--header-title-font-size);
    line-height: var(--header-title-line-height);
    color: var(--header-title-color);
  }

  &__close {
    cursor: pointer;
    width: var(--header-close-icon-width);
    height: var(--header-close-icon-height);
    position: absolute;
    right: 0;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--content-gap);

  &__filter {
    @include flex(space-between, center);
    height: var(--filter-height);

    &__locale-dropdown {
      position: absolute;
      top: var(--locale-dropdown-top);
      left: var(--locale-dropdown-left);
      width: var(--locale-width);
      background-color: var(--locale-background-color);
      border-radius: var(--locale-border-radius);
      z-index: 50;

      &__item {
        padding: var(--locale-item-padding);
        cursor: pointer;
        font-size: var(--locale-item-font-size);
        color: var(--locale-item-color);
      }
    }

    &__item {
      @include filter-item();
    }
    &__yearNumber {
      @include filter-item();
      margin: auto;
    }
  }

  &__clockPicker {
    @include flex(center, center, var(--clockPicker-gap));
    height: var(--clockPicker-height);

    &__separator {
      font-size: var(--clockPicker-separator-font-size);
    }

    &__hour,
    &__minute {
      @include flex(center, center, var(--clockPicker-texts-gap), column);
      font-size: var(--clockPicker-font-size);

      &__increment {
        rotate: var(--clockPicker-increment-rotate);
      }

      &__decrement {
        rotate: var(--clockPicker-decrement-rotate);
      }
    }
  }

  &__months {
    @include calendar-grid(
      var(--calendar-grid-columns),
      var(--calendar-grid-rows),
      var(--month-height),
      var(--month-width)
    );

    &__month {
      border: var(--month-border);
      border-radius: var(--month-border-radius);
      height: var(--month-height);
      line-height: var(--month-line-height);
      font-size: var(--month-font-size);
      color: var(--month-color);
      @include flex();
      cursor: pointer;
      transition: all 0.2s ease;

      &--selected {
        background-color: var(--month-selected-background-color);
        color: var(--month-selected-color);
      }
    }
  }

  &__years {
    @include calendar-grid(
      var(--calendar-grid-columns),
      var(--calendar-grid-rows),
      var(--year-height),
      var(--year-width)
    );
    padding-right: var(--years-padding-right);
    direction: ltr;

    &__year {
      border: var(--year-border);
      border-radius: var(--year-border-radius);
      height: var(--year-height);
      @include flex();
      line-height: var(--year-line-height);
      font-size: var(--year-font-size);
      color: var(--year-color);
      cursor: pointer;
      transition: all 0.2s ease;

      &--selected {
        background-color: var(--year-selected-background-color);
        color: var(--year-selected-color);
      }
    }

    &::-webkit-scrollbar {
      width: var(--scrollbar-width-sm);
    }

    &::-webkit-scrollbar-track {
      border-radius: var(--scrollbar-track-border-radius);
      background-color: var(--scrollbar-track-background-color);
      border-left: var(--scrollbar-track-border-left);
      border-right: var(--scrollbar-track-border-right);
    }

    &::-webkit-scrollbar-thumb {
      border-radius: var(--scrollbar-thumb-border-radius);
      background-color: var(--scrollbar-thumb-background-color);
    }
  }

  &__weekdays {
    height: var(--weekday-height);
    @include flex(space-between, center);
    background-color: var(--weekday-background-color);
    border-radius: var(--weekday-border-radius);
    padding-inline: var(--weekday-padding-inline);

    &__day {
      width: var(--weekday-width);
      line-height: var(--weekday-height);
      text-align: center;
      font-size: var(--weekday-day-font-size);
      color: var(--weekday-day-color);
    }
  }

  &__days {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(
      7,
      var(--day-size)
    ); // 7 is not a magic number it's 7 days in a week :)
    grid-auto-rows: var(--day-size);
    gap: var(--days-gap);
    position: relative;

    &__week-gradient {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: var(--day-gradient);
      border-radius: var(--day-gradient-radius);
      z-index: 0;
      pointer-events: none;
    }

    &__day {
      border-radius: var(--day-border-radius);
      position: relative;
      z-index: 1;
      font-size: var(--day-font-size);
      color: var(--day-color);
      cursor: pointer;
      @include flex();
      transition: all 0.2s ease;

      &:hover {
        background-color: var(--primary-200);
      }

      &--today {
        font-size: var(--text-today-size);
        color: var(--text-today-color);
        line-height: var(--text-today-line);
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }

      &--selected,
      &--range-start,
      &--range-end {
        background-color: var(--range-background-color);
        color: var(--range-hover-color);

        &:hover {
          background-color: var(--range-hover-background-color);
        }

        & > * {
          color: var(--range-hover-color);
        }
      }

      &--not-current {
        color: var(--text-not-current-color);
      }
    }
  }
}

@media (max-width: 768px) {
  .header,
  .content {
    display: none;
  }
}
