@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.header {
  @include flex();
  position: relative;
  margin-bottom: 12px;
  height: 24px;

  &--title {
    font-size: 12px;
    line-height: 16px;
    color: $text-light-base;
  }

  &--close {
    cursor: pointer;
    width: 24px;
    height: 24px;
    position: absolute;
    right: 0;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__filter {
    display: flex;
    justify-content: space-between;
    height: 24px;

    &--item {
      font-size: 12px;
      line-height: 16px;
      @include flex(start, center, 4px);
      color: $text-light-base;
      cursor: pointer;
    }
  }

  &__months {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(3, 90px);
    grid-template-rows: repeat(4, 55px);
    gap: 12px;
    flex: 1;
    overflow-y: auto;
    max-height: 256px;
    margin-bottom: 4px;

    &--month {
      border: 1px solid $gray-200;
      border-radius: 10px;
      height: 55px;
      @include flex();
      line-height: 20px;
      font-size: 12px;
      color: $text-light-base2;
      cursor: pointer;
      transition: all 0.2s ease;

      &.selected {
        background-color: $primary-main;
        color: $text-dark-primary;
      }
    }
  }

  &__years {
    @extend .content__months;
    padding-right: 12px;
    direction: ltr;

    &--year {
      @extend .content__months--month;
    }

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-track {
      border-radius: 10px;
      background-color: $primary-200;
      border-left: 1px solid white;
      border-right: 1px solid white;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: $primary-400;
    }
  }

  &__weekdays {
    height: 16px;
    display: flex;
    justify-content: space-between;
    background-color: $bg-light-default;
    border-radius: 4px;
    padding-inline: 2px;

    &--day {
      font-size: 12px;
      line-height: 16px;
      color: $text-light-base;
    }
  }

  &__days {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(7, 32px);
    grid-template-rows: repeat(5, 32px);
    gap: 16px;

    &--day {
      border-radius: 10px;
      font-size: 14px;
      color: $text-light-base;
      cursor: pointer;
      @include flex();
      transition: all 0.2s ease;

      &.selected {
        background-color: $primary-main;
        color: $text-dark-primary;
      }

      &.selected:hover {
        background-color: $primary-main;
      }

      &.not-current {
        color: $text-light-base2;
      }
    }

    &--day:hover {
      background-color: $primary-200;
    }
  }
}

@media (max-width: 768px) {
  .header,
  .content {
    display: none;
  }
}
