@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.header {
  @include flex();
  position: relative;
  margin-bottom: $space-md;
  height: $space-xxl;

  &__title {
    font-size: $font-xs;
    line-height: 1rem;
    color: $text-light-base;
  }

  &__close {
    cursor: pointer;
    width: $space-xxl;
    height: $space-xxl;
    position: absolute;
    right: 0;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: $space-xl;

  &__filter {
    @include flex(space-between, center);
    height: $space-xxl;

    .locale-dropdown {
      position: absolute;
      top: $locale-dropdown-top;
      left: $locale-dropdown-left;
      width: 6.25rem;
      background-color: $gray-200;
      border-radius: $radius-sm;
      z-index: 50;

      &__item {
        padding: $space-sm;
        cursor: pointer;
        font-size: $font-xs;
        color: $text-light-base;
      }
    }

    &__item {
      @include filter-item();
    }
    &__yearNumber {
      @include filter-item();
      margin: auto;
    }
  }

  &__months {
    @include calendar-grid(3, 4);

    &__month {
      border: 1px solid $gray-200;
      border-radius: $radius-lg;
      height: $month-height;
      @include flex();
      line-height: 1.25rem;
      font-size: $font-xs;
      color: $text-light-base2;
      cursor: pointer;
      transition: all 0.2s ease;

      &--selected {
        background-color: $primary-main;
        color: $text-dark-primary;
      }
    }
  }

  &__years {
    @include calendar-grid(3, 4);
    padding-right: $space-md;
    direction: ltr;

    &__year {
      border: 1px solid $gray-200;
      border-radius: $radius-lg;
      height: $month-height;
      @include flex();
      line-height: 1.25rem;
      font-size: $font-xs;
      color: $text-light-base2;
      cursor: pointer;
      transition: all 0.2s ease;

      &--selected {
        background-color: $primary-main;
        color: $text-dark-primary;
      }
    }

    &::-webkit-scrollbar {
      width: $scrollbar-width-sm;
    }

    &::-webkit-scrollbar-track {
      border-radius: $radius-lg;
      background-color: $primary-200;
      border-left: 1px solid $bg-white;
      border-right: 1px solid $bg-white;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: $radius-sm;
      background-color: $primary-400;
    }
  }

  &__weekdays {
    height: $weekday-height;
    @include flex(space-between, center);
    background-color: $bg-light-default;
    border-radius: $radius-sm;
    padding-inline: $space-xs;

    &__day {
      width: $weekday-width;
      text-align: center;
      font-size: $font-xs;
      line-height: $weekday-height;
      color: $text-light-base;
    }
  }

  &__days {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(7, $day-size);
    grid-auto-rows: $day-size;
    gap: $space-lg;
    position: relative;

    &__week-gradient {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(to right, #cee0fc26, #cee0fc);
      border-radius: $day-gradient-radius;
      z-index: 0;
      pointer-events: none;
    }

    &__day {
      border-radius: $radius-lg;
      position: relative;
      z-index: 1;
      font-size: $font-sm;
      color: $text-light-base;
      cursor: pointer;
      @include flex();
      transition: all 0.2s ease;

      &:hover {
        background-color: $primary-200;
      }

      &--today {
        font-size: $text-today-size;
        color: $text-light-info;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        line-height: $text-today-line;
      }

      &--selected,
      &--range-start,
      &--range-end {
        background-color: $primary-main;
        color: $text-dark-primary;

        &:hover {
          background-color: $primary-main;
        }

        & > * {
          color: $text-dark-primary;
        }
      }

      &--not-current {
        color: $gray-400;
      }
    }
  }
}

@media (max-width: 768px) {
  .header,
  .content {
    display: none;
  }
}
