@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.calender {
  width: $calender-width;
  height: $calender-height;
  display: none;
  gap: $calender-gap;
  justify-content: center;
  align-items: center;

  &__block {
    width: $calender-block-width;
    height: $calender-height;
    @include flex(start, center, $space-md, column);
    overflow-y: scroll;
    position: relative;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    &::-webkit-scrollbar {
      display: none;
    }

    &__text {
      width: $calender-text-width;
      line-height: 2rem;
      font-weight: $font-weight-semibold;
      color: $gray-400;
      scroll-snap-align: center;
      text-align: center;
      &--today {
        color: $primary-main;
        border-top: 1px solid $primary-main;
        border-bottom: 1px solid $primary-main;
      }
    }
  }
}

@media (max-width: 768px) {
  .calender {
    display: flex;
  }
}
