@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.calendar {
  width: var(--calendar-width);
  height: var(--calendar-height);
  display: none;
  gap: var(--calendar-gap);
  justify-content: center;
  align-items: center;

  &__block {
    width: var(--calendar-block-width);
    height: var(--calendar-height);
    @include flex(start, center, var(--calendar-block-gap), column);
    overflow-y: scroll;
    position: relative;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    &::-webkit-scrollbar {
      display: none;
    }

    &__text {
      width: var(--calendar-text-width);
      line-height: var(--calendar-text-line-height);
      font-weight: var(--calendar-text-font-weight);
      color: var(--calendar-text-color);
      scroll-snap-align: center;
      text-align: center;
      &--today {
        color: var(--calendar-text-today-color);
        border-top: var(--calendar-text-today-border-top);
        border-bottom: var(--calendar-text-today-border-bottom);
      }
    }
  }
}

@media (max-width: 768px) {
  .calendar {
    display: flex;
  }
}
