@use "../abstracts/variables" as *;

@mixin flex($justify: center, $align: center, $gap: 0, $direction: row) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
  flex-direction: $direction;
}

@mixin calendar-grid($columns: 3, $rows: 4, $height, $width) {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat($columns, $width);
  grid-template-rows: repeat($rows, $height);
  gap: var(--calendar-grid-gap);
  overflow-y: auto;
  max-height: var(--calendar-grid-max-height);
}

@mixin filter-item(
  $justify: center,
  $align: center,
  $gap: var(--filter-gap),
  $color: var(--filter-color)
) {
  @include flex($justify, $align, $gap);
  font-size: var(--filter-font-size);
  color: $color;
  cursor: pointer;
}
