// color pallet
$primary-100: #f4f7fc;
$primary-200: #cee0fc;
$primary-400: #84b3fe;
$primary-600: #2471eb;
$primary-main: #2f7bf5;

$gray-100: #f6f8ff;
$gray-200: #dadce5;
$gray-400: #a2a5b0;
$gray-700: #5b5e69;

$text-light-info: #2d89e9;
$text-dark-primary: #f4f4f4;
$text-light-base: #0e101c;
$text-light-base2: #5a5a5a;

$bg-light-default: #fafafa;
$bg-white: #ffffff;

// define text variables
$font-primary: "peyda", sans-serif;
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;
